[class^="memberInner"]:has(div>div[aria-label*="En ligne"]) {
    background: linear-gradient(to right, rgb(68, 105, 68), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="Inactif"]) {
    background: linear-gradient(to right, rgb(135, 105, 75), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="Ne pas déranger"]) {
    background: linear-gradient(to right, rgb(130, 70, 70), transparent);
}
[class^="memberInner"] {
    background: linear-gradient(to right, rgb(66, 66, 66), transparent);
}
[class^="memberInner"]:has(div>div[aria-label*="En direct"]) {
    background: linear-gradient(to right, rgb(63, 33, 88) , transparent);
}